// Colors

$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);

$grey-darker: #2D3748;
$grey-dark: #4A5568;
$grey: #718096;
$grey-light: #A0AEC0;
$grey-lighter: #CBD5E0;

$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$orange: #ED8936;
$yellow: #ECC94B;
$green: #48BB78;
$turquoise: #38B2AC;
$cyan: #667EEA;
$blue: #4299E1;
$purple: #9F7AEA;
$red: #F56565;

$menu-item-active-background-color: $white;
$menu-item-active-color: $cyan;

$icon-dimensions: 1em;
